$main-color: #1e88e5;
$main-color-light: lighten($main-color, 20%);
$main-color-dark: darken($main-color, 4%);
.select-pagesize,
a {
  font-size: 16px !important;
}
.select-pagesize a {
  list-style: none;
  color: #868e96;
}

.select-pagesize a:hover {
  color: $main-color-dark;
}
a {
  transition: 0ms;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 10px;
}
.pagination > .page-item.active > a {
  background-color: $main-color;
  border-color: $main-color;
  color: #fff;
  box-shadow: 0 4px 5px 0 rgba($main-color, 0.14),
    0 1px 10px 0 rgba($main-color, 0.12), 0 2px 4px -1px rgba($main-color, 0.2);
}
.pagination > .page-item > .page-link {
  border: 0;
  border-radius: 30px !important;
  transition: all 0.3s;
  padding: 5px 10px;
  margin: 0 3px;
  min-width: 30px;
  height: 30px;
  line-height: 18px;
  color: #999;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  background: transparent;
  text-align: center;
}
.pagination > .page-item {
  .lead,
  .last {
    padding: 5px 10px;
  }
  cursor: pointer;
  list-style-type: none;
}
.pagination > .page-item:not(.active) > .page-link {
  //background-color: #ddd;
  border: 1px solid #ddd;
}
.pagination > .page-item:not(.active) > .page-link:hover {
  background-color: $main-color-light;
  border: 1px solid $main-color-light;
  color: #fff;
}
.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: $main-color;
  border-color: $main-color;
}
.select-pagesize a {
  list-style: none;
  color: #868e96;
}

.select-pagesize a:hover {
  color: $main-color-dark;
}
.text-primary {
  color: #2196f3 !important;
}
