<nz-spin nzTip="Loading..." [nzSpinning]="isSpinning | async">
  <div class="change-password">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor=""
          >現在パスワード</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          [nzErrorTip]="validateTplOldPass"
        >
          <nz-input-group [nzSuffix]="suffixIconEyeOldPass">
            <input
              nz-input
              [type]="!isShowOldPass ? 'password' : 'text'"
              formControlName="old_password"
              placeholder=""
              minlength="8"
              maxlength="16"
            />
          </nz-input-group>
          <ng-template #suffixIconEyeOldPass>
            <i
              *ngIf="isShowOldPass"
              nz-icon
              nzType="eye"
              nzTheme="outline"
              (click)="changeShowPass('old')"
            ></i>
            <i
              *ngIf="!isShowOldPass"
              nz-icon
              nzType="eye-invisible"
              nzTheme="outline"
              (click)="changeShowPass('old')"
            ></i>
          </ng-template>
        </nz-form-control>
        <ng-template #validateTplOldPass let-control>
          <ng-container *ngIf="control.hasError('required')"
            >この項目は入力が必須です。</ng-container
          >
          <ng-container *ngIf="!control.hasError('required')">
            <ng-container
              *ngIf="
                control.hasError('minlength') ||
                control.hasError('maxlength') ||
                control.hasError('charNumber-validator')
              "
            >
              8桁～16桁の半角英数字を入力してください。</ng-container
            >
          </ng-container>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor=""
          >新しいパスワード</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          [nzErrorTip]="validateTplNewPass"
        >
          <nz-input-group [nzSuffix]="suffixIconEyeNewPass">
            <input
              nz-input
              [type]="!isShowNewPass ? 'password' : 'text'"
              formControlName="new_password"
              (ngModelChange)="updateConfirmValidator()"
              minlength="8"
              maxlength="16"
              placeholder=""
            />
          </nz-input-group>
          <ng-template #suffixIconEyeNewPass>
            <i
              *ngIf="isShowNewPass"
              nz-icon
              nzType="eye"
              nzTheme="outline"
              (click)="changeShowPass('new')"
            ></i>
            <i
              *ngIf="!isShowNewPass"
              nz-icon
              nzType="eye-invisible"
              nzTheme="outline"
              (click)="changeShowPass('new')"
            ></i>
          </ng-template>
        </nz-form-control>
        <ng-template #validateTplNewPass let-control>
          <ng-container *ngIf="control.hasError('required')"
            >この項目は入力が必須です。</ng-container
          >
          <ng-container *ngIf="!control.hasError('required')">
            <ng-container
              *ngIf="
                control.hasError('minlength') ||
                control.hasError('maxlength') ||
                control.hasError('pass-validator')
              "
            >
              8桁～16桁の半角英数字を入力してください。</ng-container
            >
          </ng-container>
          <ng-container
            *ngIf="
              !control.hasError('required') &&
              !control.hasError('minlength') &&
              !control.hasError('pass-validator') &&
              !control.hasError('maxlength')
            "
          >
            <ng-container *ngIf="control.hasError('confirmNew')">
              新しいパスワードは現在のパスワードと一致します。
            </ng-container>
          </ng-container>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="">確認用</nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          [nzErrorTip]="validateTplConfirmPass"
        >
          <nz-input-group [nzSuffix]="suffixIconEyeConfirmPass">
            <input
              nz-input
              [type]="!isShowConfirmPass ? 'password' : 'text'"
              formControlName="confirm_password"
              (ngModelChange)="updateConfirmNewPassValidator()"
              minlength="8"
              maxlength="16"
              placeholder=""
            />
          </nz-input-group>
          <ng-template #suffixIconEyeConfirmPass>
            <i
              *ngIf="isShowConfirmPass"
              nz-icon
              nzType="eye"
              nzTheme="outline"
              (click)="changeShowPass('confirm')"
            ></i>
            <i
              *ngIf="!isShowConfirmPass"
              nz-icon
              nzType="eye-invisible"
              nzTheme="outline"
              (click)="changeShowPass('confirm')"
            ></i>
          </ng-template>
        </nz-form-control>
        <ng-template #validateTplConfirmPass let-control>
          <ng-container *ngIf="control.hasError('required')"
            >この項目は入力が必須です。</ng-container
          >
          <ng-container *ngIf="!control.hasError('required')">
            <ng-container
              *ngIf="
                control.hasError('minlength') ||
                control.hasError('maxlength') ||
                control.hasError('pass-validator')
              "
            >
              8桁～16桁の半角英数字を入力してください。</ng-container
            >
          </ng-container>
          <ng-container
            *ngIf="
              !control.hasError('required') &&
              !control.hasError('minlength') &&
              !control.hasError('pass-validator') &&
              !control.hasError('maxlength')
            "
          >
            <ng-container *ngIf="control.hasError('confirm')">
              新しいパスワードと新しいパスワード（確認）が一致しません。
            </ng-container>
          </ng-container>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSpan]="14" [nzOffset]="9">
          <button nz-button nzType="primary" [nzLoading]="isSubmit$ | async">
            変更する
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div></nz-spin
>
