<div nz-row nzType="flex" nzJustify="center" nzAlign="middle">
    <div nz-col nzSpan="12" class="align-block">
        <div class="logo-mini">
            <img src="../../assets/image.png" alt="" >
        </div>
        <p class="text-found">404</p>
        <div class="text-content">
            <p class="text-large">申し訳ございません。</p>
            <hr>
            <p class="text-small">お客さまが指定されたページが見つかりませんでした。</p>
            <p class="text-small">お探しのページはファイルが削除されたか、アドレスが変更された可能性があります。</p>
            <p class="text-small">お手数ですがメニュー等から該当するページを再度お試してしください。</p>
        </div>
    </div>
</div>